registry=https://registry.npm.taobao.org
electron_mirror=https://npm.taobao.org/mirrors/electron/
python=C:/Python27/python.exe
msvs_version=2017

# --- build for electron ---
target=4.0.8
arch=ia32
disturl=https://atom.io/download/electron
runtime=electron
build_from_source=true