[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[scripts]
build = "python -m PyInstaller main.py --distpath ../static --name api --additional-hooks-dir ./hooks"

[dev-packages]
pyinstaller = "*"
pylint = "*"

[packages]
zerorpc = "*"

[requires]
python_version = "3"
